@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* scroll-behavior: smooth; */
}
:root {
  /* --fondo: #30889f; */
  --fondo: #484c4d;
  --letra: #30889f;
  --fondo2: #d5cece;
  --letra2: #fff;
}
body {
  position: relative;
}
.cabeza {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--fondo);
  color: var(--letra2);
}
.menu {
  display: none;
}
/* .cabeza h3 {
  color: var(--letra);
} */
img {
  max-width: 100%;
}
.cabeza-arriba,
.cabeza-parte {
  padding: 20px 20px;
}
.cabeza-parte {
  display: flex;
}
.cabeza .cabeza-parte.active {
  transform: translateY(35%);
}
.cabeza-parte input {
  border: none;
  outline: none;
  text-align: center;
  padding: 8px 0;

  font-weight: 100;
}
.cabeza-parte button {
  border: none;
  padding: 8px 15px;
  background-color: var(--fondo);
  font-weight: 300;
  color: var(--letra2);
  cursor: pointer;
  border: 1px solid var(--letra2);
}
.cabeza-parte .selector {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 8px;
}

.foto-persona {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 50;
  background-color: var(--fondo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--letra2);
  padding: 0 20px;
}
/* .foto-persona i{
  position: relative;
  right: 0;
} */
.foto-persona img {
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--letra2);
}
.foto-persona .datos-persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -30px;
}
.foto-persona .datos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.datos-persona h5,
.datos h5{
  font-weight: 100;
}
.selector select {
  border: none;
  outline: none;
  padding: 8px 15px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: 100%;
  appearance: none;
  background: var(--letra2);
  color: #423c3c;
}

.selector i {
  position: absolute;
  right: 0;
  padding-right: 5px;
  color: var(--letra);
  font-size: 20px;
}

.cuerpo {
  margin: 70px 0 70px 0;
  padding: 15px;
  min-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}
.tarjeta {
  border: 1px solid rgba(48, 136, 158, 0.363);
  position: relative;
  display: flex;
  justify-content: start;
  height: 90px;
  color: #766c6c;
}
.tarjeta img {
  position: absolute;
  width: 20%;
  height: 100%;
  padding: 5px;
}
.tarjeta-parte {
  position: absolute;
  right: 0%;
  width: 80%;
  padding: 15px;
}
.tarjeta-parte h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
}
.tarjeta-abajo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tarjeta-abajo label {
  background-color: var(--fondo);
  border-radius: 5px;
  border: none;
  color: var(--letra2);
  padding: 5px 25px;
  font-weight: 100;
  cursor: pointer;
}

@media (max-width: 635px) {
  .cabeza {
    flex-direction: column;
    /* background: var(--fondo2);background: var(--letra2); */
    background: #fff;
    
  }
  .cabeza-parte {
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in;
    background-color: var(--fondo);
    position: absolute;
    width: 100%;
    top: 0;
  }
  .cabeza .selector {
    margin: 10px 0;
  }
  .cabeza-arriba {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fondo);
    z-index: 20;
    /* border-radius: 0 0 30px 30px;
    background: red; */
  }
  .menu {
    display: block;
    color: var(--letra2);
  }
  /* .foto-persona img {
    display: none;
  } */

  .cabeza-parte {
    transition: 0.5s ease-in;
    transform: translateY(-150%);
  }
}

.modal {
  background-color: #00000080;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 2s ease;
}
.modal.active {
  transition: 2s ease;
  display: flex;
}
.caja {
  width: 1000px;
  position: relative;
  display: flex;
  align-items: center;
}
.modal-cuerpo {
  /* background-color: var(--fondo); */
  background: #fff;
  color: #464141;
  border-radius: 5px;
  /* background-color: var(--fondo2); */
  padding: 10px;
  width: 100%;
  max-width: 500px;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.459);
}
.modal-tarjeta {
  overflow: auto;
  padding-left: 10px;
  /* color: var(--letra2); */
}
.modal-tarjeta h3 {
  text-align: center;
  /* font-weight: 400; */
  margin-right: 10px;
  border-bottom: 1px solid var(--fondo);
}
.modal-tarjeta p {
  padding: 10px 0;
  /* font-weight: 100; */
  font-size: 14px;
}
.modal .modal-datos {
  padding: 10px 0;
}
.modal .modal-datos h5 {
  padding-bottom: 8px;
}
.modal-abajo {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-abajo img {
  width: 33.33%;
  height: 33.33%;
}
.modal-abajo-foto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  margin: 5px 0;
  cursor: pointer;
}
.modal-abajo-foto:hover {
  background-color: rgb(156, 171, 175);
  z-index: 20;
  color: #fff;
}
.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 450px) {
  .modal-cuerpo {
    display: block;
    flex-direction: column;
    overflow: auto;
    width: 90%;
    height: 420px;
  }
  /* .modal-cuerpo img {
    padding: 0 auto;
  } */
  .modal-tarjeta {
    overflow: inherit;
  }
  .caja {
    width: 100%;
    justify-content: center;
  }
}
